Source: start-here
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: start-here
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python3-gi,
    gir1.2-gtk-3.0,
    gir1.2-gdkpixbuf-2.0,
    gir1.2-handy-0.0
Description: start-here helps you tweak Ubuntu
 start-here is a program that helps you to tweak Ubuntu,
 after install a new version of Ubuntu.