#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Start here
Comment=Start here is a first steps with Ubuntu
TryExec=/usr/bin/start-here
Exec=/usr/bin/start-here
Icon=/opt/extras.ubuntu.com/start-here/share/icons/start-here.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=System;Application
X-KDE-SubstituteUID=true